//input
input {
  border-radius: 12px;
  border: 3px solid transparent;
  padding: 5px 10px;
  background: var(--background-200);
  color: var(--text);
  transition-duration: var(--animation-time-s);
  transition-behavior: var(--easing-default);
  transition-property: border;
  height: 25px;
  font-size: 16px;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input:focus {
  outline-style: none;
  border: 3px solid var(--accent-500);
}

//button-outlined
.btn-outlined {
  border-radius: 50px;
  box-shadow: none;
  border: 2px solid var(--accent-500);
  font-size: 16px;
  padding: 10px 20px;
  background: transparent;
  color: var(--text);
}

.btn-outlined:hover{
    cursor: pointer;
}

:root.light-mode {
  .btn-outlined:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

:root.dark-mode {
  .btn-outlined:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

//button-filled
.btn-filled{
    border-radius: 50px;
    box-shadow: none;
    border: 2px solid var(--secondary-500);
    font-size: 16px;
    padding: 10px 20px;
    background: var(--secondary-500);
    color: #fff;
}

.btn-filled:hover{
    cursor: pointer;
    background: var(--secondary-600);
    border: 2px solid var(--secondary-600);
}
