:root.light-mode {
  --text: #040316;
  --text-inactive: #58557e;

  --background-50: #f6f0fd;
  --background-100: #ece0fd;
  --background-200: #d7c0fa;
  --background-300: #ceb0fa;
  --background-400: #bd93fc;
  --background-500: #a973fa;

  --background-hover: #dad0eb;
  --background-hover-active: #c3a1ee;

  --primary-50: #fcfce8;
  --primary-100: #faf9d1;
  --primary-200: #f5f3a3;
  --primary-300: #f0ee75;
  --primary-400: #ebe847;
  --primary-500: #e6e219;
  --primary-600: #b8b514;
  --primary-700: #8a880f;
  --primary-800: #5c5a0a;
  --primary-900: #2e2d05;
  --primary-950: #171703;

  --secondary-50: #f4e9fb;
  --secondary-100: #e9d4f7;
  --secondary-200: #d3a9ef;
  --secondary-300: #bd7ee7;
  --secondary-400: #a753df;
  --secondary-500: #9128d7;
  --secondary-600: #7420ac;
  --secondary-700: #571881;
  --secondary-800: #3a1056;
  --secondary-900: #1d082b;
  --secondary-950: #0f0416;

  --accent-50: #f4ecf8;
  --accent-100: #eadaf1;
  --accent-200: #d5b5e3;
  --accent-300: #bf8fd6;
  --accent-400: #aa6ac8;
  --accent-500: #9545ba;
  --accent-600: #773795;
  --accent-700: #592970;
  --accent-800: #3c1c4a;
  --accent-900: #1e0e25;
  --accent-950: #0f0713;
}
:root.dark-mode {
  --text: #eae9fc;
  --text-inactive: #b5b3d4;

  --background-50: #120e18;
  --background-100: #282033;
  --background-200: #524269;
  --background-300: #715896;
  --background-400: #9371c7;
  --background-500: #be97f8;

  --background-hover: #4d4558;
  --background-hover-active: #5e4580;

  --primary-50: #171703;
  --primary-100: #2e2d05;
  --primary-200: #5c5a0a;
  --primary-300: #8a880f;
  --primary-400: #b8b514;
  --primary-500: #e6e219;
  --primary-600: #ebe847;
  --primary-700: #f0ee75;
  --primary-800: #f5f3a3;
  --primary-900: #faf9d1;
  --primary-950: #fcfce8;

  --secondary-50: #0f0416;
  --secondary-100: #1d082b;
  --secondary-200: #3a1056;
  --secondary-300: #571881;
  --secondary-400: #7420ac;
  --secondary-500: #9128d7;
  --secondary-600: #a753df;
  --secondary-700: #bd7ee7;
  --secondary-800: #d3a9ef;
  --secondary-900: #e9d4f7;
  --secondary-950: #f4e9fb;

  --accent-50: #0f0713;
  --accent-100: #1e0e25;
  --accent-200: #3c1c4a;
  --accent-300: #592970;
  --accent-400: #773795;
  --accent-500: #9545ba;
  --accent-600: #aa6ac8;
  --accent-700: #bf8fd6;
  --accent-800: #d5b5e3;
  --accent-900: #eadaf1;
  --accent-950: #f4ecf8;
}
:root {
  --animation-time-xxs: 0.05s;
  --animation-time-xs: 0.1s;
  --animation-time-s: 0.2s;
  --animation-time-m: 0.4s;
  --animation-time-l: 0.6s;
  --animation-time-xl: 0.8s;
  --animation-time-xxl: 1s;

  --easing-default: linear(
    0,
    0.00245 1.753%,
    0.00994 3.55%,
    0.03415 6.402%,
    0.07376 9.061%,
    0.12808 11.414%,
    0.19399 13.366%,
    0.27138 14.974%,
    0.34403 16.052%,
    0.54434 18.338%,
    0.60689 19.389%,
    0.66036 20.609%,
    0.71671 22.4%,
    0.76532 24.589%,
    0.80828 27.285%,
    0.84475 30.42%,
    0.88332 35.056%,
    0.91554 40.622%,
    0.94208 47.239%,
    0.96327 54.986%,
    0.9795 64.011%,
    0.99095 74.434%,
    0.99774 86.373%,
    1
  );

  --easing-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --easing-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
}

:root body {
  background-color: var(--background-50);
  color: var(--text);
  margin: 0;
  transition: background var(--animation-time-m) var(--easing-default),
    color var(--animation-time-m) var(--easing-default);
  font-family: "Montserrat", sans-serif;
}
